<!-- <div class="container mt-5"> -->

  <!-- Bootstrap button -->
  <!-- <button class="btn btn-primary mb-3">Bootstrap Button</button> -->

  <!-- Angular Material Card -->
  <!-- <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>Angular Material Card</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      This is a simple Angular Material card.
    </mat-card-content>
  </mat-card> -->

  <!-- Tailwind button with prefix -->
  <!-- <button class="tw-bg-green-500 tw-text-white tw-px-4 tw-py-2 tw-rounded hover:tw-bg-green-700">
    Tailwind Button
  </button> -->

  <!-- Tailwind div with prefix -->
  <!-- <div class="tw-mt-4 tw-p-4 tw-bg-gray-100 tw-rounded">
    This div uses Tailwind (prefixed classes).
  </div>

</div> -->
<!-- <app-header *ngIf="router.url !== '/'"></app-header> -->

<router-outlet></router-outlet>
