@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tw-animate-slide-up {
  animation: slide-up 1s ease-out forwards;
}

.tw-delay-200 {
  animation-delay: 0.2s;
}

.tw-delay-400 {
  animation-delay: 0.4s;
}
